@import '../textMixin';

$t: 20px;
$c: center;
$f: flex;
$if: inline-flex;
$w: white;
$b: #2563EB;
$n: none;
$b: bottom;
$r: relative;
$p: pointer;
$h: hidden;
$s: solid;

.header {
  margin-left: $t;
  margin-right: $t;
}

.layout {
  display: $f;
  justify-content: $c;
}

.p-inputtext {
  font-size: 100%;
  width: 100%;
}

.p-button.p-button-lg {
  margin: 5px;
}

.input_container {
  display: $f;
  flex-direction: column;
  align-items: $c;
  gap: 10px;
  margin-top: $t;
  margin-right: $t;
  margin-left: $t;

  &_section {
    display: $f;
    align-items: $c;
    gap: 25px;
  }
}