@import '../textMixin';

$t: 20px;
$c: center;
$f: flex;
$if: inline-flex;
$w: white;
$b: #2563EB;
$n: none;
$b: bottom;
$r: relative;
$p: pointer;
$h: hidden;
$s: solid;

.header {
  display: $f;
  justify-content: space-between;
  align-items: $c;
  margin-left: $t;
  margin-right: $t;
}

.layout {
  display: $f;
  justify-content: $c;
}

.p-inputtext {
  font-size: 100%;
  width: 100%;
}

.p-button.p-button-lg {
  margin: 5px;
}

.btn_left {
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: $if;
  cursor: $p;
  -webkit-user-select: $n;
  -moz-user-select: $n;
  user-select: $n;
  align-items: $c;
  vertical-align: $b;
  text-align: $c;
  overflow: $h;
  position: $r;

  background: $w;
  border-radius: 7px 0 0 7px;
  border-width: 1px 0 1px 1px;
  border-style: $s;
  border-color: #CED4DA;

  &_dark {
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin: 0;
    display: $if;
    cursor: $p;
    -webkit-user-select: $n;
    -moz-user-select: $n;
    user-select: $n;
    align-items: $c;
    vertical-align: $b;
    text-align: $c;
    overflow: $h;
    position: $r;

    border-radius: 7px 0 0 7px;
    border-width: 1px 0 1px 1px;
    border-style: $s;
    border-color: #CED4DA;
    color: $w;
    background: #282828;

    &:hover {
      background: $b;
      color: $w;
    }

    &:focus {
      background: $b;
      color: $w;
    }
  }

  &:hover {
    background: $b;
    color: $w;
  }

  &:focus {
    background: $b;
    color: $w;
  }
}

.btn_mid {
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: $if;
  cursor: $p;
  -webkit-user-select: $n;
  -moz-user-select: $n;
  user-select: $n;
  align-items: $c;
  vertical-align: $b;
  text-align: $c;
  overflow: $h;
  position: $r;
  border-width: 1px 0 1px 1px;
  border-style: $s;
  border-color: #CED4DA;
  background: $w;
  border-radius: inherit;

  &_dark {
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin: 0;
    display: $if;
    cursor: $p;
    -webkit-user-select: $n;
    -moz-user-select: $n;
    user-select: $n;
    align-items: $c;
    vertical-align: $b;
    text-align: $c;
    overflow: $h;
    position: $r;
    border-width: 1px 0 1px 1px;
    border-style: $s;
    border-color: #CED4DA;
    border-radius: inherit;
    color: $w;
    background: #282828;

    &:hover {
      //background: $b;
      color: $w;
    }

    &:focus {
      //background: $b;
      color: $w;
    }
  }

  &:hover {
    //background: $b;
    color: $w;
  }

  &:focus {
    //background: $b;
    color: $w;
  }
}

.btn_right {
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: $if;
  cursor: $p;
  -webkit-user-select: $n;
  -moz-user-select: $n;
  user-select: $n;
  align-items: $c;
  vertical-align: $b;
  text-align: $c;
  overflow: $h;
  position: $r;
  border-width: 1px 1px 1px 1px;
  border-style: $s;
  border-color: #CED4DA;
  background: $w;
  border-radius: 0 7px 7px 0;

  &_dark {
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin: 0;
    display: $if;
    cursor: $p;
    -webkit-user-select: $n;
    -moz-user-select: $n;
    user-select: $n;
    align-items: $c;
    vertical-align: $b;
    text-align: $c;
    overflow: $h;
    position: $r;
    border-width: 1px 1px 1px 1px;
    border-style: $s;
    border-color: #CED4DA;
    border-radius: 0 7px 7px 0;
    color: $w;
    background: #282828;

    &:hover {
      //background: $b;
      color: $w;
    }

    &:focus {
      //background: $b;
      color: $w;
    }
  }

  &:hover {
    //background: $b;
    color: $w;
  }

  &:focus {
    //background: $b;
    color: $w;
  }
}

.main {
  margin-right: $t;
  margin-left: $t;
}

.input_container {
  display: $f;
  flex-direction: column;
  align-items: $c;
  gap: 10px;
  margin-top: $t;
  margin-right: $t;
  margin-left: $t;

  &_section {
    display: $f;
    align-items: $c;
    gap: 25px;
  }
}