$t: 20px;
$f: flex;
$c: center;

.header {
  margin-right: $t;
  margin-left: $t;

  &_section {
    display: $f;
    justify-content: space-between;
    align-items: $c;
  }
}

.button-container {
  margin-top: 7px;
  margin-bottom: 25px;
  display: $f;
  justify-content: $c;
}