@import '../descriptionMixin.scss';
@import '../optionsContainerMixin.scss';

$t: 20px;
$f: flex;
$sb: space-between;
$b: #2563EB;

.header {
  margin-right: $t;
  margin-left: $t;

  &_section {
    display: $f;
    justify-content: $sb;
    align-items: center;
  }
}

.main {

  &_top_container {
    display: $f;
    justify-content: $sb;
    color: $b;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 25px;
  }

  &_title {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
  }

  &_bottom_description {
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $b;
    display: $f;
  }

  &_bottom_filter {
    margin-bottom: 15px;
  }
}

.p-button:disabled {
  color: white !important;
}