.header {
  margin-right: 20px;
  margin-left: 20px;

  &_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main_section_divider {
  margin: 15px 0 15px 0;
}

.description {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #F7F7FD;
  border-radius: 7px;

  &_dark {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #3950CC;
    color: white;
    border-radius: 7px;
  }
}


.map_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 3px;

  &_dropdown {
    width: 166px;
    left: 0;
    border: 1px solid #CED4DA;
    border-radius: 7px;
  }

  &_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &_dark {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;

      &::after {
        content: ' *';
        color: red;
      }
    }

    &::after {
      content: ' *';
      color: red;
    }
  }
}

.sub_map_container {
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-end;
  align-items: center;
  gap: 65px;

  &_divider {
    margin-left: 4px;
  }
}

.input_mask {
  width: 166px;
  position: static;
  left: 0;
  top: 24px;
  border: 1px solid #CED4DA;
  border-radius: 7px;
}

.bottom_section_container {
  padding: 15px;
  text-indent: 10px;
  background: #F7F7FD;
  border-radius: 7px;

  &_dark {
    padding: 15px;
    text-indent: 10px;
    background: #3950CC;
    color: white;
    border-radius: 7px;
  }
}

.options_container {
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.btn_right {
  width: 100%;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin-right: 15px;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: 0 7px 7px 0;

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

.btn_left {
  margin-left: 15px;
  width: 100%;
  font-size: 14px;
  padding: 0.714rem 1rem;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;

  background: white;
  border-radius: 7px 0 0 7px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

