.header {
  margin-right: 20px;
  margin-left: 20px;

  &_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.name_divider {
  margin-top: 15px;
  margin-bottom: 15px;
}

.section_divider {
  margin-bottom: 25px;
}

.description {
  background: #F7F7FD;
  border-radius: 7px;
  padding: 15px;

  &_dark {
    background: #32343A;
    color: white;
    border-radius: 7px;
    padding: 15px;
  }
}

.map_container {
  display: flex;
  flex-direction: column;

  &_divider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px 0;
  }
}

.dropdown {
  width: 166px;
  left: 0;
  border: 2px solid #CED4DA !important;
  border-radius: 7px;

  &_dark {
    background: #282828;
    color: white;
    width: 166px;
    left: 0;
    border: 2px solid #CED4DA !important;
    border-radius: 7px;
  }
}

.paginator {
  display: flex;
  justify-content: center;
}