.section {
  margin-right: 20px;
  margin-left: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
  gap: 3px;
}