.header {
  margin-right: 20px;
  margin-left: 20px;

  &_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;

  &_number {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #2563EB;

    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;

    }
  }
}

.main {
  z-index: 0;
}

.filter_header {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: #F8F9FA;
  border-bottom: 1px solid #DEE2E6;
  border-radius: 7px 7px 0 0;

  &_divider {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 14px;
  }
}

.filter_container {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 415px;
  border: 1px solid #DEE2E6;
  border-radius: 7px;

  &_wrapper {
    margin: 15px;
  }
}

.dropdown {
  width: 100%;
  height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 7px;
}

.limit_container {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 164px;
  border: 1px solid #DEE2E6;
  border-radius: 7px;
}

.limit_header {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: #F8F9FA;
  border-bottom: 1px solid #DEE2E6;
  border-radius: 7px 7px 0 0;
}

.limit_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.input {
  width: 50%;
  height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 7px;
}

.button_left {
  width: 100%;
  height: 38px;
  min-width: 110px;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;

  background: white;
  border-radius: 7px 0 0 7px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

.button_middle {
  height: 38px;
  width: 100%;
  min-width: 110px;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: inherit;

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

.button_right {
  height: 38px;
  width: 100%;
  min-width: 110px;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: 0 7px 7px 0;

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

.button-container {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}