.header {
  margin-right: 20px;
  margin-left: 20px;

  &_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;

  &_dark {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #282828;
  }

  &_number {
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
    color: #4D84FF;

    &__title {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;

      &_dark {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #ffffff;
      }

    }
  }
}

.main {
  z-index: 0;
}

.filter_header {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: #F8F9FA;
  border-bottom: 1px solid #DEE2E6;
  border-radius: 7px 7px 0 0;

  &_dark {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: white;
    background: #494C57;
    border-bottom: 1px solid #4B4B4B;
    border-radius: 7px 7px 0 0;
  }

  &_divider {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 14px;

    &_dark {
      color: white;
      margin-bottom: 7px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.filter_container {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 415px;
  border: 1px solid #DEE2E6;
  border-radius: 7px;

  &_dark {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 415px;
    border: 1px solid #4B4B4B;
    border-radius: 7px;
    background: #282828;
  }

  &_wrapper {
    margin: 15px;

    &_dark {
      margin: 15px;
      color: white;
    }
  }
}

.dropdown {
  width: 100%;
  height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 7px;

  &_dark {
    height: 38px;
    width: 100%;
    background: #282828;
    border: 1px solid #CED4DA;
    color: white;
  }
}

.limit_container {
  margin-top: 25px;
  margin-bottom: 25px;
  height: 164px;
  border: 1px solid #DEE2E6;
  border-radius: 7px;

  &_dark {
    margin-top: 25px;
    margin-bottom: 25px;
    height: 164px;
    border: 1px solid #4B4B4B;
    border-radius: 7px;
    background: #282828;
    color: white;
  }
}

.limit_header {
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: #F8F9FA;
  border-bottom: 1px solid #DEE2E6;
  border-radius: 7px 7px 0 0;

  &_dark {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    background: #494C57;
    color: white;
    border-bottom: 1px solid #4B4B4B;
    border-radius: 7px 7px 0 0;
  }
}

.limit_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.input {
  width: 40%;
  height: 38px;
  border: 1px solid #CED4DA;
  border-radius: 7px;

  &_dark {
    width: 40%;
    height: 38px;
    border: 1px solid #CED4DA;
    border-radius: 7px;
    background: #282828;
    color: white;

    &::placeholder {
      color: white;
    }
  }
}

.button_left {
  width: 100%;
  height: 38px;
  min-width: 110px;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: white;
  border-radius: 7px 0 0 7px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;

  &_dark {
    width: 100%;
    height: 38px;
    min-width: 110px;
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: #282828;
    color: white;
    border-radius: 7px 0 0 7px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #CED4DA;

    &:focus {
      background: #2563EB;
      color: white;
    }

    &:active {
      background: #2563EB;
      color: white;
    }
  }

  &:focus {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

.button_middle {
  height: 38px;
  width: 100%;
  min-width: 110px;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: inherit;

  &_dark {
    height: 38px;
    width: 100%;
    min-width: 110px;
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #CED4DA;
    background: #282828;
    color: white;
    border-radius: inherit;

    &:focus {
      background: #2563EB;
      color: white;
    }

    &:active {
      background: #2563EB;
      color: white;
    }
  }

  &:focus {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

.button_right {
  height: 38px;
  width: 100%;
  min-width: 110px;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: 0 7px 7px 0;

  &_dark {
    height: 38px;
    width: 100%;
    min-width: 110px;
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #CED4DA;
    background: #282828;
    color: white;
    border-radius: 0 7px 7px 0;

    &:focus {
      background: #2563EB;
      color: white;
    }

    &:active {
      background: #2563EB;
      color: white;
    }
  }

  &:focus {
    background: #2563EB;
    color: white;
  }

  &:active {
    background: #2563EB;
    color: white;
  }
}

.button-container {
  margin-top: 7px;
  display: flex;
  justify-content: center;
}

.dark_switch {
  background: #282828;
  color: white;
}
