.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.layout {
  display: flex;
  justify-content: center;
}

.p-inputtext {
  margin-bottom: 10px;
  font-size: 100%;
  width: 100%;
}

.text {
  background: #F7F7FD;
  border-radius: 7px;
  padding: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.text-dark {
  background: #3950CC;
  color: white;
  border-radius: 7px;
  padding: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.p-button.p-button-lg {
  margin: 5px;
}

.btn_left {
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;

  background: white;
  border-radius: 7px 0 0 7px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:focus {
    background: #2563EB;
    color: white;
  }
}

.btn_mid {
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: inherit;

  &:hover {
    //background: #2563EB;
    color: white;
  }

  &:focus {
    //background: #2563EB;
    color: white;
  }
}

.btn_right {
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: 0 7px 7px 0;

  &:hover {
    //background: #2563EB;
    color: white;
  }

  &:focus {
    //background: #2563EB;
    color: white;
  }
}

.main {
  margin-right: 20px;
  margin-left: 20px;
}

.qr_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
