@import '../sectionMixin.scss';

.main_section_divider {
  margin: 15px 0 15px 0;
}

.description {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #F7F7FD;
  border-radius: 7px;

  &_dark {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #32343A;
    color: white;
    border-radius: 7px;
  }
}

.map_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  gap: 3px;

  &_dropdown {
    width: 166px;
    left: 0;
    border: 2px solid #CED4DA;
    border-radius: 7px;

    &_dark {
      width: 166px;
      left: 0;
      border: 2px solid #CED4DA;
      border-radius: 7px;
      background: #282828;
    }
  }

  &_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &_dark {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;

      &::after {
        content: ' *';
        color: red;
      }
    }

    &::after {
      content: ' *';
      color: red;
    }
  }
}

.radio_label_divider {
  margin-left: 4px;
}

.sub_map_container {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  gap: 65px;

  &_divider {
    margin-left: 4px;
  }
}

.input_mask {
  width: 166px;
  position: static;
  left: 0;
  top: 24px;
  border: 1px solid #CED4DA;
  border-radius: 7px;

  &_dark {
    width: 166px;
    position: static;
    left: 0;
    top: 24px;
    border: 1px solid #CED4DA;
    border-radius: 7px;
    color: white;
    background: #282828;

    &::placeholder {
      color: white;
      opacity: 1; /* Firefox */
    }
  }
}

.bottom_section_container {
  padding: 15px;
  text-indent: 10px;
  background: #F7F7FD;
  border-radius: 7px;

  &_dark {
    padding: 15px;
    text-indent: 10px;
    background: #32343A;
    color: white;
    border-radius: 7px;
  }
}

.options_container {
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 0;
}

.btn_right {
  width: 100%;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin-right: 15px;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #CED4DA;
  background: white;
  border-radius: 0 7px 7px 0;

  &_dark {
    width: 100%;
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin-right: 15px;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #CED4DA;
    background: #282828;
    color: white;
    border-radius: 0 7px 7px 0;

    &:hover {
      background: #2563EB;
      color: white;
    }

    &:focus {
      background: #2563EB;
      color: white;
    }
  }

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:focus {
    background: #2563EB;
    color: white;
  }
}

.btn_left {
  margin-left: 15px;
  width: 100%;
  font-size: 14px;
  padding: 0.714rem 1rem;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  background: white;
  border-radius: 7px 0 0 7px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #CED4DA;

  &_dark {
    margin-left: 15px;
    width: 100%;
    font-size: 14px;
    padding: 0.714rem 1rem;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: #282828;
    color: white;
    border-radius: 7px 0 0 7px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #CED4DA;

    &:hover {
      background: #2563EB;
      color: white;
    }

    &:focus {
      background: #2563EB;
      color: white;
    }
  }

  &:hover {
    background: #2563EB;
    color: white;
  }

  &:focus {
    background: #2563EB;
    color: white;
  }
}

.dropdown_dark {
  background: #282828;
  border: 1.7px solid #CED4DA;
  width: 166px;
  left: 0;
  border-radius: 7px;
}

.pi-calendar {

  &_dark {
    content: "\e927";
    color: white !important;
  }
}

.p-calendar {
  width: 166px;
}