@import '../sectionMixin.scss';

$f: 15px;
$b: #2563EB;
$w: white;
$n: none;
$s: solid;
$S: 7px;
$c: center;
$F: flex;
$if: inline-flex;
$B: bottom;
$h: hidden;

.main_section_divider {
  margin: $f 0 $f 0;
}

.description {
  padding: $f;
  margin-top: $f;
  margin-bottom: $f;
  background: #F7F7FD;
  border-radius: $S;

  &_dark {
    padding: $f;
    margin-top: $f;
    margin-bottom: $f;
    background: #32343A;
    color: $w;
    border-radius: $S;
  }
}

.map_container {
  display: $F;
  justify-content: space-between;
  align-items: $c;
  margin-bottom: $f;
  gap: 3px;

  &_dropdown {
    width: 166px;
    left: 0;
    border: 2px $s #CED4DA;
    border-radius: $S;

    &_dark {
      width: 166px;
      left: 0;
      border: 2px $s #CED4DA;
      border-radius: $S;
      background: #282828;
    }
  }

  &_title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

    &_dark {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;

      &::after {
        content: ' *';
        color: red;
      }
    }

    &::after {
      content: ' *';
      color: red;
    }
  }
}

.radio_label_divider {
  margin-left: 4px;
}

.sub_map_container {
  display: $F;
  margin-bottom: $f;
  justify-content: space-between;
  align-items: $c;
  gap: 65px;

  &_divider {
    margin-left: 4px;
  }
}

.input_mask {
  width: 166px;
  position: static;
  left: 0;
  top: 24px;
  border: 1px $s #CED4DA;
  border-radius: $S;

  &_dark {
    width: 166px;
    position: static;
    left: 0;
    top: 24px;
    border: 1px $s #CED4DA;
    border-radius: $S;
    color: $w;
    background: #282828;

    &::placeholder {
      color: $w;
      opacity: 1; /* Firefox */
    }
  }
}

.bottom_section_container {
  padding: $f;
  text-indent: 10px;
  background: #F7F7FD;
  border-radius: $S;

  &_dark {
    padding: $f;
    text-indent: 10px;
    background: #32343A;
    color: $w;
    border-radius: $S;
  }
}

.options_container {
  display: $F;
  justify-content: $c;
  margin: $f 0 $f 0;
}

.btn_right {
  width: 100%;
  font-size: 14px;
  padding: 0.714rem 1rem;
  margin-right: $f;
  display: $if;
  cursor: pointer;
  -webkit-user-select: $n;
  -moz-user-select: $n;
  user-select: $n;
  align-items: $c;
  vertical-align: $B;
  text-align: $c;
  overflow: $h;
  position: relative;
  border-width: 1px 1px 1px 1px;
  border-style: $s;
  border-color: #CED4DA;
  background: $w;
  border-radius: 0 $S $S 0;

  &_dark {
    width: 100%;
    font-size: 14px;
    padding: 0.714rem 1rem;
    margin-right: $f;
    display: $if;
    cursor: pointer;
    -webkit-user-select: $n;
    -moz-user-select: $n;
    user-select: $n;
    align-items: $c;
    vertical-align: $B;
    text-align: $c;
    overflow: $h;
    position: relative;
    border-width: 1px 1px 1px 1px;
    border-style: $s;
    border-color: #CED4DA;
    background: #282828;
    color: $w;
    border-radius: 0 $S $S 0;

    &:hover {
      background: $b;
      color: $w;
    }

    &:focus {
      background: $b;
      color: $w;
    }
  }

  &:hover {
    background: $b;
    color: $w;
  }

  &:focus {
    background: $b;
    color: $w;
  }
}

.btn_left {
  margin-left: $f;
  width: 100%;
  font-size: 14px;
  padding: 0.714rem 1rem;
  display: $if;
  cursor: pointer;
  -webkit-user-select: $n;
  -moz-user-select: $n;
  user-select: $n;
  align-items: $c;
  vertical-align: $B;
  text-align: $c;
  overflow: $h;
  position: relative;
  background: $w;
  border-radius: $S 0 0 $S;
  border-width: 1px 0 1px 1px;
  border-style: $s;
  border-color: #CED4DA;

  &_dark {
    margin-left: $f;
    width: 100%;
    font-size: 14px;
    padding: 0.714rem 1rem;
    display: $if;
    cursor: pointer;
    -webkit-user-select: $n;
    -moz-user-select: $n;
    user-select: $n;
    align-items: $c;
    vertical-align: $B;
    text-align: $c;
    overflow: $h;
    position: relative;
    background: #282828;
    color: $w;
    border-radius: $S 0 0 $S;
    border-width: 1px 0 1px 1px;
    border-style: $s;
    border-color: #CED4DA;

    &:hover {
      background: $b;
      color: $w;
    }

    &:focus {
      background: $b;
      color: $w;
    }
  }

  &:hover {
    background: $b;
    color: $w;
  }

  &:focus {
    background: $b;
    color: $w;
  }
}

.dropdown_dark {
  background: #282828;
  border: 1.7px $s #CED4DA;
  width: 166px;
  left: 0;
  border-radius: $S;
}

.pi-calendar {

  &_dark {
    content: "\e927";
    color: $w !important;
  }
}

.p-calendar {
  width: 166px;
}