@import '../sectionMixin.scss';
@import '../descriptionMixin.scss';
@import '../nameDividerMixin';

$f: flex;

.map_container {
  display: $f;
  flex-direction: column;

  &_divider {
    display: $f;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 15px 0;
  }
}

.dropdown {
  width: 166px;
  left: 0;
  border: 2px solid #CED4DA !important;
  border-radius: 7px;

  &_dark {
    background: #282828;
    color: white;
    width: 166px;
    left: 0;
    border: 2px solid #CED4DA !important;
    border-radius: 7px;
  }
}

.paginator {
  display: $f;
  justify-content: center;
}

.section_divider {
  margin-bottom: 25px;
}