@import '../sectionMixin.scss';

$h: 100%;

.p-input_text {
  font-size: $h;
  width: $h;
  margin-bottom: 10px;
  border: 1px solid #CED4DA;
  border-radius: 7px;
}

.button_container {
  display: flex;
  justify-content: center
}

.p-dropdown {
  width: $h;
}

.dropdown_dark {
  background: #282828;
  border: 1px solid #CED4DA;
}