@import '../sectionMixin.scss';

.description {
  margin-bottom: 15px;
}

.p-button-label {
  color: white;
}

.parsed_data {
  font-weight: 600;
  font-size: 16px;
  line-height: 17px;
  color: #4D84FF;
}

.dark_table {
  color: white;
  background: #282828;
}

.paginator_container {
  display: flex;
  justify-content: space-between;
}

.p-button-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2563EB;
}

.downloader {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}