@import '../sectionMixin.scss';

.p-input_text {
  font-size: 100%;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #CED4DA;
  border-radius: 7px;
}

.button_container {
  display: flex;
  justify-content: center
}

.p-dropdown {
  width: 100%;
}

.dropdown_dark {
  background: #282828;
  border: 1px solid #CED4DA;
}