$t: 20px;
$T: 2rem;

.form-demo {
  margin-right: $t;
  margin-left: $t;
  .card {
    min-width: 250px;

    form {
      margin-top: $T;
    }

    .p-field {
      margin-bottom: $T;
    }
  }

  .p-text-center {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (max-width: 960px) {
    .card {
      width: 95%;
    }
  }
}