@import './src/styles/MyListsSection/LeadsFinderParts/ListFilter.scss';
@import '../../textMixin';

$f: flex;
$c: center;
$t: 10px;
$s: space-around;

.input_container {
  margin-top: $t;
  margin-bottom: $t;
  display: $f;
  align-items: $c;
  justify-content: $s;
}

.bottom_section {
  margin-top: $t;
  display: $f;
  justify-content: $s;
  align-items: $c;

  &_container {
    margin-top: 12px;
    align-items: $c;
    display: $f;
    gap: $t;
  }
}

.dropdown {

  &_dark {
    width: 100%;
    background: #282828;
    border: 1px solid #CED4DA;
    color: white;
  }
}