.header {
  margin-right: 20px;
  margin-left: 20px;

  &_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.button-container {
  margin-top: 7px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.text {
  background: #F7F7FD;
  border-radius: 7px;
  padding: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.text-dark {
  background: #32343A;
  color: white;
  border-radius: 7px;
  padding: 15px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.input_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom_section {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_container {
    margin-top: 12px;
    align-items: center;
    display: flex;
    gap: 10px;
  }
}

.dropdown {
  width: 100%;
  height: 42px;

  &_dark {
    height: 38px;
    width: 100%;
    background: #282828;
    border: 1px solid #CED4DA;
    color: white;
  }
}
