@import './src/styles/MyListsSection/LeadsFinderParts/ListFilter.scss';
@import '../../textMixin';

.input_container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bottom_section {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &_container {
    margin-top: 12px;
    align-items: center;
    display: flex;
    gap: 10px;
  }
}

.dropdown {

  &_dark {
    width: 100%;
    background: #282828;
    border: 1px solid #CED4DA;
    color: white;
  }
}