* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 14px;
}

body {
  background-color: #ffffff;
  font-weight: normal;
  color: #495057;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 50px;
}
// ** Body Dark Styles
body.dark {
  background: rgb(0, 0, 0);
  color: #ffffff;
}

body.light {
  background: rgb(255, 255, 255);
}
//Body Dark Styles **

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

.card {
  margin-bottom: 2rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1)
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3)
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1)
  }
}

.p-button {
  background: #2563EB;

  &:enabled:hover {
    background: #2563EB;
  }
}

.p-togglebutton.p-button.p-highlight {
  background: #2563eb;
  color: white;
}

.p-togglebutton.p-button:not(.p-disabled):not(.p-highlight):hover {
  background: white;
  border-color: #2563eb;
  color: rgb(37 99 235);
}


.p-button-lg {
  font-size: 14px;
  padding: 0.8925rem 1.25rem;
  background: #F7F7FD;
  border-radius: 10px;
  color: #3950CC;
  width: 100px;
  height: 70px;
}

.p-button.p-button-lg {
  font-size: 14px;
}

.p-inputtext {
  font-size: 100%;
}

//** LoginForm Dark Styles
.p-inputtext-dark {
  width: 100%;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.87);
  background: #000000;
  padding: 1rem 1rem;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
}
.p-float-label-dark {
  display: block;
  position: relative;
}

.p-fluid-dark .p-inputtext-dark {
  width: 100%;
  color: white;
  background-color: black;
  padding: 1rem 1rem;
  border: 1px solid rgb(255 255 255 / 38%);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
}
.p-float-label-dark input:focus ~ label,
.p-float-label-dark input.p-filled-dark ~ label,
.p-float-label-dark textarea:focus ~ label,
.p-float-label-dark textarea.p-filled-dark ~ label,
.p-float-label-dark .p-inputwrapper-focus-dark ~ label,
.p-float-label-dark .p-inputwrapper-filled-dark ~ label {
  color: white;
  background-color: black;
  top: -0.75rem;
  font-size: 12px;
}

.p-float-label-dark input:focus ~ label,
.p-float-label-dark input.p-filled-dark ~ label,
.p-float-label-dark textarea:focus ~ label,
.p-float-label-dark textarea.p-filled-dark ~ label,
.p-float-label .p-inputwrapper-focus-dark ~ label, 
.p-float-label .p-inputwrapper-filled-dark ~ label {
  top: -0.5rem !important;
  background-color: #000000;
  padding: 2px 4px;
  margin-left: -4px;
  margin-top: 0;
  color: white;
}

.p-float-label-dark label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  margin-top: -0.5rem;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
}
.p-float-label-dark > label {
  color: rgb(255 255 255 / 60%);
  left: 1rem;
  transition-duration: 0.2s;
}

.p-button-dark {
  width: 100%;
  background-color: #00006e !important;
  color: rgba(255, 255, 255) !important;
  border: 0 none;
  padding: 0.714rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border-radius: 4px;
  &:disabled {
    background-color: rgb(105, 105, 105) !important;
    color: rgba(255, 255, 255) !important;
    opacity: 1;
  }
}
//LoginForm Dark Styles **


//**Layout Dark Styles
.p-button-lg-dark {
  font-size: 14px;
  padding: 0.8925rem 1.25rem;
  background: #00002c;
  border-radius: 10px;
  color: #3950CC;
  width: 100px;
  height: 70px;
  &:enabled:hover {
    background: #002988;
    color: #ffffff;
  }
}
//Layout Dark Styles **

//**Top-up Dark Styles
.p-inputtext-dark {
  margin-bottom: 10px;
  font-size: 100%;
  width: 100%;
  background: black;
  border: 1px solid white;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  color: rgba(255, 255, 255);
  padding: 1rem 1rem;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;

  &:enabled:hover {
    background: black;
    border: 1px solid white;
    color: rgba(255, 255, 255);
  }
  &:disabled {
    background: black;
    border: 1px solid white;
    color: rgba(255, 255, 255);
  }
}
//Top-up Dark Styles  **

.p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
  background-color: #2563eb;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #2563eb;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #E7E7F3;
  color: #f5f5f5;
}

.p-datatable .p-datatable-tbody > tr > td {
  background: #F7F7FD;
}

.p-column-title {
  color: black;
  font-weight: bold;
}

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-radius: 9px 1px 0 0;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
  border-radius: 0 9px 0 0;
}


.p-accordion {
  background: #F8F9FA;
  border: 1px solid #DEE2E6;
  border-radius: 7px;

  .p-accordion-tab {
    box-shadow: none;

    .p-accordion-content {
      color: #2563EB;
      display: flex;
      gap: 10px;
      flex-direction: column;
    }
  }

 .p-accordion-header .p-accordion-header-link {
  padding: 15px;
}
}

.image-text {
  margin-left: .5rem;
}

.p-multiselect-representative-option {
  display: inline-block;
  vertical-align: middle;
}

.p-multiselect-representative-option img {
  vertical-align: middle;
  width: 24px;
}

.p-multiselect-representative-option span {
  margin-top: .125rem;
}

.p-fileupload-choose {
  width: 100%;
  background: #2563EB;

  &:not(.p-disabled):hover {
    background: #2563EB;
  }
}

.p-checkbox {
  margin-right: 10px;
}

.country-item {
  display: flex;
  align-items: center;
}

.country-item img.flag {
  width: 18px;
  margin-right: .5rem;
}

.flag {
  vertical-align: middle;
}

span.flag {
  width: 44px;
  height: 30px;
  display: inline-block;
}

img.flag {
  width: 30px
}

.true-icon {
  color: #256029;
}

.false-icon {
  color: #C63737;
}

.p-field-checkbox {
  margin-bottom: 15px;
}
